* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font"; 
  font-weight: 500;
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background: #191724; 
  border: 2px solid #26233a; 
}

tooltip {
  background-color: #191724;
  border: 5px solid #6e6a86;
}

#disk,
#memory,
#battery,
#network,
#pulseaudio,
#clock,
#tray {
  margin: 6px;
  padding: 2px 4px;
  background-color: #1f1d2e; 
  border: 2px solid #26233a;
  color: #e0def4; 
  border-radius: 6px;
}

#window {
  background: transparent;
  border: none;
  color: #e0def4; 
  font-size: 14px;
  padding: 0 8px;
}

#workspaces {
  background-color: #1f1d2e;
  padding: 0 0;
  margin: 6px 0px 6px 6px;
  border: 2px solid #26233a;
  border-radius: 6px;
}

#workspaces button {
  all: initial;
  min-width: 20px;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 6px;
  color: #908caa; 
  border-radius: 3px;
}

#workspaces button.focused {
  color: #e0def4; 
  background-color: #6e6a86; /* Added for active workspace */
}

#workspaces button.active {
  background-color: #6e6a86; /* Active workspace background */
  color: #e0def4; /* Active workspace text color */
}

#workspaces button:hover {
  background-color: #26233a; /* Hover background */
}

#workspaces button.urgent {
  background-color: #eb6f92;
}

#battery.warning {
  color: #191724; 
}

#battery.critical {
  color: #eb6f92; 
}
