* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font"; 
  font-weight: 500;
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background: #eee7df; 
  border: 2px solid #e6dbd2; 
}

tooltip {
  background-color: #eee7df;
  border: 5px solid #9893a5;
}

#disk,
#memory,
#battery,
#network,
#pulseaudio,
#clock,
#tray {
  margin: 6px;
  padding: 2px 4px;
  background-color: #f4ede6; 
  border: 2px solid #e6dbd2;
  color: #575279; 
  border-radius: 6px;
}

#window {
  background: transparent;
  border: none;
  color: #575279; 
  font-size: 14px;
  padding: 0 8px;
}

#workspaces {
  background-color: #f4ede6;
  padding: 0 0;
  margin: 6px 0px 6px 6px;
  border: 2px solid #e6dbd2;
  border-radius: 6px;
}

#workspaces button {
  all: initial;
  min-width: 20px;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 6px;
  color: #797593; 
  border-radius: 3px;
}

#workspaces button.focused {
  color: #575279; 
  background-color: #9893a5; /* Added for active workspace */
}

#workspaces button.active {
  background-color: #9893a5; /* Active workspace background */
  color: #575279; /* Active workspace text color */
}

#workspaces button:hover {
  background-color: #e6dbd2; /* Hover background */
}

#workspaces button.urgent {
  background-color: #b4637a;
}

#battery.warning {
  color: #eee7df; 
}

#battery.critical {
  color: #b4637a; 
}
