* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "VictorMono Nerd Font"; 
  font-weight: 500;
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background: #1F1F28; 
  border: 2px solid #44445A; 
}

tooltip {
  background-color: #1F1F28;
  border: 5px solid #5B5B72;
}

#disk,
#memory,
#battery,
#network,
#pulseaudio,
#clock,
#tray {
  margin: 6px;
  padding: 2px 4px;
  background-color: #2D2D3A; 
  border: 2px solid #44445A;
  color: #DCD7BA; 
  border-radius: 6px;
}

#window {
  background: transparent;
  border: none;
  color: #DCD7BA; 
  font-size: 14px;
  padding: 0 8px;
}

#workspaces {
  background-color: #2D2D3A;
  padding: 0 0;
  margin: 6px 0px 6px 6px;
  border: 2px solid #44445A;
  border-radius: 6px;
}

#workspaces button {
  all: initial;
  min-width: 20px;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 6px;
  color: #777790; 
  border-radius: 3px;
}

#workspaces button.focused {
  color: #DCD7BA; 
  background-color: #5B5B72; /* Added for active workspace */
}

#workspaces button.active {
  background-color: #5B5B72; /* Active workspace background */
  color: #DCD7BA; /* Active workspace text color */
}

#workspaces button:hover {
  background-color: #44445A; /* Hover background */
}

#workspaces button.urgent {
  background-color: #C34043;
}

#battery.warning {
  color: #1F1F28; 
}

#battery.critical {
  color: #C34043; 
}
